/**
 * Columna "Blog ID" en el administrador
 */
.wp-list-table.sites .column-blog_id {
	width: 4em;
}
.wp-list-table.sites .blog-id-copy {
	font-family: monospace;
	background: #ddd;
	display: inline-block;
	padding: 0 .33333em;
	border-radius: .25em;
	cursor: copy;
	user-select: none;
}
.wp-list-table.sites .blog-id-copy.copy-id-ok::after {
	font-family: dashicons;
	content: "\f15e";
	display: inline-block;
	vertical-align: sub;
}
